<!DOCTYPE html>
<html >
<head>
    <title>Forgotten password</title>
    <meta charset="UTF-8">
    <script src='/javascripts/external/jquery-1.11.3.min.js'></script>
    <script src='/javascripts/forgot.js'></script>
    <link rel="stylesheet" href="/stylesheets/forgot.css">

</head>

<body>
<div class="forgot-card">

    <h1>Recover password</h1><br>
    <p>Enter the email address linked to your account and we'll send you instructions for recovering your password</p>

    <form id="forgot-form">
        <input type="text" name="email" placeholder="e-mail">
        <input type="submit" class="forgot forgot-submit" value="Recover password">
    </form>

    <div id="loading"><img src="/images/loader.gif"/></div>
    <div id="forgot-error" class="forgot-help">The email is not registered</div>
    <div id="forgot-success" class="forgot-help">Check your inbox</div>
</div>
</body>
</html>
