<!DOCTYPE html>
<html>
<head>
    <title>Log-in</title>
    <meta charset="UTF-8">
    <script src='/javascripts/external/jquery-1.11.3.min.js'></script>
    <script src='/javascripts/homePlanner.js'></script>
    <link rel="stylesheet" href="/stylesheets/create-room.css">
    <link rel="stylesheet" href="/stylesheets/menu.css">
</head>

<body>
<header class="main-header">
    <a class="logo" href="#"></a>
    <ul class="main-nav">
        <li class="dropdown">
            <a href="#">Welcome</a>
            <ul class="drop-nav">
                <li><a href="#">Personal data</a></li>
                <li id="log-out"><a href="#">Log out</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Rooms</a>
            <ul class="drop-nav">
                <li id="create-room-show"><a href="#">Create</a></li>
                <li id="delete-room-show"><a href="#">Eliminate</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>

<div id="create-room" class="create-room-card">

    <h1>Create room</h1><br>

    <form id="create-room-form">
        <input id="room-name" type="text" name="room-name" placeholder="Nname" autocomplete="off">
        <input class="teacher" type="text" name="teacher" placeholder="Professor" autocomplete="off" list="teacher-suggestion">
        <input class="alumns" type="text" name="alumns" placeholder="Alumns" autocomplete="off" list="alumn-suggestion">
        <input type="submit" class="create-room create-room-submit" value="Create">
    </form>
    <input type="file" id="file-input" onchange="fileHandler(this.files)">


    <button id="add-alumn-cr">+</button>

    <datalist id="teacher-suggestion">
    </datalist>

    <datalist id="alumn-suggestion">
    </datalist>

    <ul id="loaded-alumns" class="loaded-alumn-list">
    </ul>

    <div id="create-room-success" class="create-room-help">Room successfully created</div>
    <div id="create-room-loading"><img src="/images/loader.gif"/></div>
    <div id="create-room-error" class="create-room-help">Another room exists with the same name</div>

</div>

<div id="delete-room-selector">
    <h1>Room list</h1><br>
    <select id="delete-room-select" size="10">
    </select>
    <button id="delete-room" type="button">Delete Room</button>
</div>

</body>
</html>
