<!DOCTYPE html>
<html>
<head>
    <title>Log-in</title>
    <meta charset="UTF-8">
    <script src='/javascripts/external/jquery-1.11.3.min.js'></script>
    <script src='/javascripts/homeAdmin.js'></script>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="/stylesheets/menu.css">
</head>

<body>
<header class="main-header">
    <a class="logo" href="#"></a>
    <ul class="main-nav">
        <li class="dropdown">
            <a href="#">Welcome</a>
            <ul class="drop-nav">
                <li id="log-out"><a href="#">Log out</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Rooms</a>
            <ul class="drop-nav">
                <li id="register-show"><a href="#">Create</a></li>
                <li><a href="#">Add alumns</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>

<div id="register" class="register-card">

    <h1>Register User</h1><br>

    <form id="register-form">
        <input id="nick" type="text" name="nick" placeholder="Username">
        <input id="email" type="text" name="email" placeholder="e-mail">
        <input id="pass" type="password" name="pass" placeholder="Password">
        <div class="radio-role">
            <input type="radio" name="role" value="alumn" checked>Alumn
            <input type="radio" name="role" value="teacher">Professor
            <input type="radio" name="role" value="planner">Planner
        </div>
        <input type="submit" class="register register-submit" value="Register">
    </form>

    <div id="register-success" class="register-help">User successfuly added</div>
    <div id="register-loading"><img src="/images/loader.gif"/></div>
    <div id="register-error" class="register-help">Another user is registered with the same email</div>
</div>
</body>
</html>
