<!DOCTYPE html>
<html>
<head>
    <title>Log-in</title>
    <meta charset="UTF-8">
    <script src='/javascripts/external/jquery-1.11.3.min.js'></script>
    <script src='/javascripts/homeAdmin.js'></script>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="/stylesheets/menu2.css">
</head>

<body>
<nav id="menu">
    <ul>
        <li id="home" class="current-menu-item"><a href="#">Home</a>
            <ul>
                <li id="log-out"><a href="#">Log Out</a></li>
                <li id="show-update"><a href="#">Personal data</a></li>
            </ul>
        </li>
        <li id="rooms"><a href="#">Users</a>
            <ul>
                <li id="register-show"><a href="#">Create</a></li>
                <li><a href="#">Remove</a></li>
            </ul>
        </li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>

<div id="register" class="register-card">

    <h1>Register User</h1><br>

    <form id="register-form">
        <input id="nick" type="text" name="nick" placeholder="Username">
        <input id="email" type="text" name="email" placeholder="e-mail">
        <input id="pass" type="password" name="pass" placeholder="Password">
        <div class="radio-role">
            <input type="radio" name="role" value="alumn" checked>Alumn
            <input type="radio" name="role" value="teacher">Professor
            <input type="radio" name="role" value="planner">Planner
        </div>
        <input type="submit" class="register register-submit" value="Register">
    </form>

    <div id="register-success" class="register-help">User successfuly added</div>
    <div id="register-loading"><img src="/images/loader.gif"/></div>
    <div id="register-error" class="register-help">Another user is registered with the same email</div>
</div>
</body>
</html>
