<html >
<head>
    <title>Log-in</title>
    <meta charset="UTF-8">
    <script src='/javascripts/external/jquery-1.11.3.min.js'></script>
    <script src='/javascripts/homeAlumn.js'></script>
    <script src='/javascripts/external/erizo.js'></script>
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <link rel="stylesheet" href="/stylesheets/homeAlumn.css">
</head>


<body>
    <header class="main-header">
        <a class="logo" href="#"></a>
        <ul class="main-nav">
            <li class="dropdown">
                <a href="#">Bienvenido</a>
                <ul class="drop-nav">
                    <li><a href="#">Datos personales</a></li>
                    <li id="log-out"><a href="#">Cerrar sesión</a></li>
                </ul>
            </li>
            <li id="rooms"><a href="#">Salas</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>

    <div id="room-selector">
        <h1>Entrar a sala</h1><br>
        <select id="my-select" size="10">

        </select>
        <button id="enter-room" type="button">Enter Room</button>
    </div>



    <div id='video'></div>
</body>