<html >
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <script src='/javascripts/external/jquery-1.11.3.min.js'></script>
    <script src='/javascripts/homeAlumn.js'></script>
    <script src='/javascripts/external/erizo.js'></script>
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <link rel="stylesheet" href="/stylesheets/homeAlumn.css">
</head>


<body>
    <header class="main-header">
        <a class="logo" href="#"></a>
        <ul class="main-nav">
            <li class="dropdown">
                <a href="#">Welcome <span style="display: inline-block; width: 1.5em; height: 1.5em"><span style="position: relative; display: inline-block; width: 1.5em; height: 1.5em"><i style="position: absolute;display:inline-block;width:0;height:0;line-height:0;border:0.75em solid transparent;margin-top:-0.75em;border-bottom:0.75em solid #f8f8f8;left:0em;top:0em"></i><i style="position: absolute;display:inline-block;width:0;height:0;line-height:0;border:0.046875em solid transparent;margin-top:-0.046875em;border-bottom:0.046875em solid #1142AA;left:0.28125em;top:0.703125em"></i><i style="position: absolute;display:inline-block;width:0;height:0;line-height:0;border:0.46875em solid #f8f8f8;border-bottom:0.46875em solid #f8f8f8;left:0.28125em;top:0.5625em"></i></span></span></a>
                <ul class="drop-nav">
                    <li id="show-update"><a href="#">Personal data</a></li>
                    <li id="log-out"><a href="#">Log out</a></li>
                </ul>
            </li>
            <li id="rooms"><a href="#">Rooms</a></li>
            <li id="videos"><a href="#">Videos</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>

    <div id="playit"></div>

    <div id="update" class="update-card">

        <h1>Update user</h1><br>

        <form id="update-form">
            <input id="nick" type="text" name="nick" placeholder="Username">
            <input id="email" type="text" name="email" placeholder="e-mail">
            <input id="role" type="text" name="role" placeholder="">
            <input id="pass" type="password" name="pass" placeholder="Password">
            <input type="submit" class="update update-submit" value="Update">
        </form>

        <div id="update-success" class="update-help">Data updated</div>
        <div id="update-loading"><img src="/images/loader.gif"/></div>
        <div id="update-error" class="update-help"></div>
    </div>

    <div id="video-selector">
        <h1>Videos list</h1><br>
        <select id="video-select" size="10">

        </select>
        <button id="load-video" type="button">Play Video</button>
    </div>

    <div id="room-selector">
        <h1>Room list</h1><br>
        <select id="my-select" size="10">

        </select>
        <button id="enter-room" type="button">Enter Room</button>
    </div>

</body>