<html >
<head>
    <title>Log-in</title>
    <meta charset="UTF-8">
    <script src='/javascripts/external/jquery-1.11.3.min.js'></script>
    <script src='/javascripts/homeTeacher.js'></script>
    <script src='/javascripts/external/erizo.js'></script>
    <link rel="stylesheet" href="/stylesheets/menu2.css">
    <link rel="stylesheet" href="/stylesheets/homeAlumn.css">
</head>


<body>
    <nav id="menu">
        <ul>
            <li d="home" class="current-menu-item"><a href="#">Home</a>
                <ul>
                    <li id="log-out"><a href="#">Log Out</a></li>
                    <li id="show-update"><a href="#">Personal data</a></li>
                </ul>
            </li>
            <li id="rooms"><a href="#">Subjects</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>

    <div id="update" class="update-card">

        <h1>Update user</h1><br>

        <form id="update-form">
            <input id="nick" type="text" name="nick" placeholder="Username">
            <input id="email" type="text" name="email" placeholder="e-mail">
            <input id="role" type="text" name="role" placeholder="">
            <input id="pass" type="password" name="pass" placeholder="Password">
            <input type="submit" class="update update-submit" value="Update">
        </form>

        <div id="update-success" class="update-help">Data updated</div>
        <div id="update-loading"><img src="/images/loader.gif"/></div>
        <div id="update-error" class="update-help"></div>
    </div>

    <div id="room-selector">
        <h1>Enter room</h1><br>
        <select id="my-select" size="10">

        </select>
        <button id="enter-room" type="button">Enter Room</button>
    </div>



    <div id='video'></div>
</body>