<!DOCTYPE html>
<html>
<head>
    <title>Log-in</title>
    <meta charset="UTF-8">
    <script src='/javascripts/external/jquery-1.11.3.min.js'></script>
    <script src='/javascripts/homePlanner.js'></script>
    <link rel="stylesheet" href="/stylesheets/create-room.css">
    <link rel="stylesheet" href="/stylesheets/homePlanner.css">
    <link rel="stylesheet" href="/stylesheets/menu2.css">
</head>

<body>
<nav id="menu">
    <ul>
        <li id="home" class="current-menu-item"><a href="#">Home</a>
            <ul>
                <li id="log-out"><a href="#">Log Out</a></li>
                <li id="show-update"><a href="#">Personal data</a></li>
            </ul>
        </li>
        <li id="subjects"><a href="#">Subjects</a>
            <ul>
                <li id="create-room-show"><a href="#">Create</a></li>
                <li id="delete-room-show"><a href="#">Remove</a></li>
            </ul>
        </li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>

<div id="update" class="update-card">

    <h1>Update user</h1><br>

    <form id="update-form">
        <input id="nick" type="text" name="nick" placeholder="Username">
        <input id="email" type="text" name="email" placeholder="e-mail">
        <input id="role" type="text" name="role" placeholder="">
        <input id="pass" type="password" name="pass" placeholder="Password">
        <input type="submit" class="update update-submit" value="Update">
    </form>

    <div id="update-success" class="update-help">Data updated</div>
    <div id="update-loading"><img src="/images/loader.gif"/></div>
    <div id="update-error" class="update-help"></div>
</div>

<div id="create-room" class="create-room-card">

    <h1>Create subject</h1><br>

    <form id="create-room-form">
        <input id="room-name" type="text" name="room-name" placeholder="Name" autocomplete="off">
        <input class="teacher" type="text" name="teacher" placeholder="Teacher" autocomplete="off" list="teacher-suggestion">
        <input class="students" type="text" name="students" placeholder="Students" autocomplete="off" list="student-suggestion">
        <input type="submit" class="create-room create-room-submit" value="Create">
    </form>
    <input type="file" id="file-input" onchange="fileHandler(this.files)">


    <button id="add-student-cr">+</button>

    <datalist id="teacher-suggestion">
    </datalist>

    <datalist id="student-suggestion">
    </datalist>

    <ul id="loaded-students" class="loaded-student-list">
    </ul>

    <div id="create-room-success" class="create-room-help">Room successfully created</div>
    <div id="create-room-loading"><img src="/images/loader.gif"/></div>
    <div id="create-room-error" class="create-room-help">Another room exists with the same name</div>

</div>

<div id="delete-room-selector">
    <h1>Remove subject</h1><br>
    <select id="delete-room-select" size="10">
    </select>
    <button id="delete-room" type="button">Delete Room</button>
</div>

</body>
</html>
