<html >
<head>
    <title>Room</title>
    <meta charset="UTF-8">
    <meta name="token" content="{{token}}">
    <meta name="nick" content="{{nick}}">
    <meta name="room_name" content="{{room_name}}">
    <script src='/javascripts/external/jquery-1.11.3.min.js'></script>
    <script src='/javascripts/meetingTeacher.js'></script>
    <script src='/javascripts/external/erizo.js'></script>
    <link rel="stylesheet" href="/stylesheets/meeting.css">
</head>


<body>
    <div id="main">
        <div id="d-right">
            <div id='video-teacher'></div>
            <div id="wrapper">
                <div id="chatbox"></div>
                <form id="message">
                    <input name="usermsg" type="text" id="usermsg" size="63" />
                    <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
                </form>
            </div>
        </div>
        <div id='video-alumn'></div>
        <div id="screen-teacher"></div>
        <button id="share-screen">Share</button>
        <button id="start-rec">Rec <span style="display: inline-block; width: 1em; height: 1em"><span style="position: relative; display: inline-block; width: 1em; height: 1em"><i style="position: absolute;display:inline-block;width:0;height:0;line-height:0;border:0.5em solid #f50e0e;border-radius:0.5em;left:0em;top:0.25em"></i></span></span></button>
    </div>
</body>