body {
    background: url(/images/login-canvas.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

div{
    display: inline-block;
}

#video-teacher {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #710c47;
	height: 226px;
	width: 362px;
}

#screen-teacher{
    position: absolute;
    background: green;
    width: 800px;
    height: 500px;
    top: 20px;
    left: 1%
}
#screen-teacher button {
    z-index: 999;
    top: 258px;
    left: 330px;
    float: left;
    position: relative;
}

#video-alumn{
    position: absolute;
    background: green;
    width: 98%;
    height: 25%;
    left: 10px;
    top: 528px;
}

#video-alumn div{
    background: red;
    display: inline-block;
    width: 25%;
    height: 50%;
}

#wrapper {
    position: absolute;
    top: 246px;
    right: -751px;
    margin: 0px auto;
    padding-bottom: 25px;
    background: #EBF4FB none repeat scroll 0% 0%;
    border: 1px solid #ACD8F0;
    width: 29.9%;
    height: 38%;
    left: 4%;
}

#wrapper form {
    margin-left: 25px;
    padding:0; }
  
#wrapper input { font:12px arial; }
  

#chatbox {
    text-align: left;
    margin: 6px auto;
    padding: 10px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #ACD8F0;
    overflow: auto;
    width: 86%;
    height: 82%;
    position: relative;
    left: 14px;
    top: 3px;
}

#chatbox div{
    word-wrap: break-word;
    max-height: 0%;
	min-height: 15px;
    width: 100%;
	font: 12px arial;
}
  
#usermsg {
    border: 1px solid #ACD8F0;
    width: 84%;
    margin-right: 1%;
    margin-left: -5%;
}
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  

