body {
    background: url(/images/login-canvas.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

#video-teacher {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #710c47;
	height: 301px;
	width: 404px;
}

#wrapper {
    position: absolute;
    top: 321px;
    right: 20px;
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }

#wrapper form {
    margin-left: 25px;
    padding:0; }
  
#wrapper input { font:12px arial; }
  

#chatbox {
    text-align:left;
    margin:25px auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:200px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }

#chatbox div{
	height: 15px;
	font: 12px arial;
}
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  

